*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: 0;
    background: transparent;    
    background-color: #0A1612;
}

body {
    color: #000;
    overflow: hidden;
    overflow-y: scroll;    
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
}


