* {
    text-decoration: none; 
    justify-content: center;
    align-items: center;
}

.nav {
    border-radius: 25px;
    position: fixed;
    width: 93%;
    display: flex;
    z-index: 1;
    align-items: center;
    margin: 2%;
    padding: 1%;
    border: #E47780;
    border-style: solid;
    background-color: rgba(38, 38, 38, 0.8);
    animation: open 0.4s forwards;
}

.nav.close {
    animation: close 0.4s forwards;
}

#name {
    color:#CC2936;
}

@keyframes open {
    from {
        transform: translateY(-1000px);
    } to {
        transform: translateY(0);
    }
}

@keyframes close {
    from {
        transform: translateY(0);
    } to {
        transform: translateY(-1000px);
    }
}

.nav > *, .nav > * > * {
    background-color: transparent;
}

.menu {
    display:flex;
    position: flex;
    right: 0;
    margin: auto;
    margin-right: 5%;
}

.pages {
    margin: 1em;
    font-size: medium;
    font-family: 'Poppins', 'sans-serif';
}

#snam {
    display: none;
}

.pages:hover {
    color: #E47780;
}

