*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: 0;
}

.menu {
    display:flex;
    position: fixed;
    right: 0;
    background-color: #E5FFDE;
    margin: auto;
    padding: 20px;
}

.nav {
    position: fixed;
    width: 100%;
    background-color: #E5FFDE;
    display: flex;
    z-index: 1;
}

.nav > h1 {
    margin: 1em;
    background-color: #E5FFDE;
}
.pages {
    color: black;
    margin: 1em;
    background-color: #E5FFDE;
    font-size: larger;
    border: 0cm;
}
.nav > .pages {
    text-align: center;
}

