
#banner {
    background-color: #E5FFDE;
    padding: 5%;
    display: flex;
    height: 90%;
}

#profile {
    width: 50%;
}

#border {
    display: flex;   
    height: 90%;
    width: 100%;
    padding: 5%;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#banner > h1 {
    font-size: 100px;
}

#text {
    height: 80vh;
    padding: 5%;
    margin-right: 10%;
}

#abu, #links {
    padding: 6%;
    display: inline-block;
}

#abu > p {
    padding-top: 10%;
}

.links {
    display: table;
}

.linkers {
    display: table-cell;
}
.linknames {
    padding-top: 12%;
    display: table-cell;
    width: 100px;
}

.linknames > h3 {
    color: #517664;
}

.linkers > p, .linknames > h3, tr, td {
    height: 30px;
}

#text, #text > *, #text > * > *, #text > * > * >* , td > a, tr > a{
    background-color: white;
}