
#profile {
    width: 50%;
    border-radius: 10%;
}

#decor > h1 {
    white-space: nowrap;
}

#decor {
    display: flex;
    flex-direction: row;
}

#border {
    display: flex;   
    flex-direction: column;
    padding: 5%;
    margin: 5%;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    border-style: solid;
    border-color: #ADADAD;
    border-width: 0.5px;
}

.slideout {
    animation: slide 0.7s forwards;
    animation-delay: 0.3;
}

.slidein {
    animation: slidein 0.7s forwards;
}

@keyframes slide {
    from {
        transform: translateX(0%);
    } to {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes slidein {
    from {
        transform: translateX(100%);
    } to {
        transform: translateX(0%);
    }
}

#abu, #links {
    padding: 6%;
    display: flex;
}

#links {
    flex-direction: column;
    text-align: center;
}

#abu > p {
    padding-left: 2%;
}

img {
   width: 60px;  
   background-color: transparent;
}

.images {
    display: flex;
    flex-direction: row;   
}
.images > a{
    padding: 5%;
    border-style: solid;
    border-radius: 10%;
    margin: 5%;
}


