.expb {
    display: grid;
    grid-template-columns: auto auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2% 6%;
}

.exps {
    height: 40em;
    /* margin: 2%; */
    width: 30em;
    box-sizing: border-box;
    padding: 10%;
    transition: transform 0.3s;
    border-radius: 25px;
}

.exps > * {
    padding: 4%;
}

@media (max-width:1024px) {
    .expb {
        grid-template-columns: auto;
    }
    .exps {
        width: 40em;
        padding-inline: 5%;
        margin-right: 10%;
    }
}

@media (max-width:767px) {
    .exps {
        width: 30em;
    }
}

@media (max-width:539px) {
    .exps {
        width: 20em;
    }
}

