
#ban {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.expb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.exps {
    margin: 2%;
    width: 50vh;
    box-sizing: border-box;
    padding: 5%;
    transition: transform 0.3s;
}

.exps > * {
    padding: 4%;
}

/* .exps:hover {
    transform: scale(0.9);
} */

/* .exps::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}

.exps:hover::before{
    animation: anim 1s linear forwards;
} */

/* @keyframes anim {
    0% {
        width: 0;
        height: 0;
        border-top-color: black;
    }

    25% {
        width: 100%;
        height: 0;
        border-top-color: black;
        border-right-color: black;
    }

    50% {
        width: 100%;
        height: 100%;
        border-top-color: black;
        border-right-color: black;
        border-bottom-color: black;
    }

    75% {
        width: 100%;
        height: 100%;
        border-top-color: black;
        border-right-color: black;
        border-bottom-color: black;
        border-left-color: black;
    }

    100% {
        width: 100%;
        height: 100%;
        border-top-color: black;
        border-right-color: black;
        border-bottom-color: black;
        border-left-color: black;
    }
    
} */


/* 


@media (max-width:1024px) {
    #ban {
        display: inline-block;
        text-align: center;
    }

    #ban > h1 {
        left:auto;
    }
}

@media (max-width: 540px) {
    .expb {
        display: inline-block;
        justify-content: center;
        align-items: center;
        margin-left: -8%;
    }

}

@media (max-width: 430px) {
    .exps {
        width: 40vh;
    }
} */