
#banner {
    padding-top: 30%;
    padding-bottom: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    justify-content: center;
    text-align: center;
}

#intro {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

#slotanim {
    height: 80px;
}

@media (max-width: 767px) {
    #banner {
        padding-top: 20%;
        padding-bottom: 20%;
    }
}




