#box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    overflow: scroll;
    padding-top: 10%;
}

#modal {
    background: white;
    border-radius: 5px;
    width: 160vh;
    position: relative;
    margin-top: 40%;
    padding: -10%;
    margin-bottom: 5%;
}

#info {
    color: black;
}

.imga {
    width: 100vh;
    height: auto;
    margin: 10%;
    margin-left: 13%;
    justify-content: center;
    box-shadow: 10px 10px 10px 10px;
}

.imga > img {
    width: 100%;
    height: auto;
}

.partOne {
    background-color: white;
    text-align: center;
    align-items: center;
}

.one {
    padding:2%;
}

.partOne > *, .partOne > * > *, .partTwo > * > *, .partTwo > * > * > * , .one > *{
    background-color: white;
}

#modal > * {
    margin: 5%;
}

.partTwo {
    display: flex;
    margin-right: 15%; 
    margin-left: 15%;
    justify-content: center;
}

.partTwo > p {
    width: fit-content;
    text-align: left;
    background-color: #E5FFDE;
    padding: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.partTwo > * > *{
    padding: 5%;
    margin: 5%;
}

.deets > * > * {
    margin-left: 5%;
}
    
#time > * {
    padding: 1%;
}

.deets > h3 {
    color: #517664;
}

#x {
    position: absolute;
    right: 0;
    margin-right: 30px;
    background-color: white;
    padding: 5%;
    padding-top: 0%;
    padding-right: 0%;
    margin-top: -5%;
}

#x:after:hover {
    color: #517664;
}

#x:after {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\d7";
    font-size: 100px;
    color: black;
    line-height: 100px;
    text-align: center;
}

@media (max-width: 1280px ) {
    #modal {
        margin-right: 5%;
        margin-left: 5%;
    }
}

@media (max-width:1023px) {
    #modal {
        margin-top:-10%;
    }
    .imga {
        width: 40vh;
    }
}

@media (max-width:540px) {
    #x {
        background-color: transparent;
    }
    .one > h1 {
        padding-right: 15%;
        padding-left: 10%;
    }
}

@media (max-width:539px) and (min-width:400px) {
    .imga {
        width: 25vh
    }

    .one > h1 {
        padding-right: 15%;
        padding-left: 15%;
    }
}

@media (max-width:399px) {
    .imga {
        width: 25vh
    }
}