#banner { 
    display: flex;
    flex-direction: column;
}
.projs {
    padding-bottom: 50%;
}

.projs > * > img{
    width: 10em;
}

.projs > * {
    background-color: #525252;
    padding: 5%;
    width: 30em;
}

.projs > * >*{
    background-color: #525252;
}