.projs {
    display: grid;
    grid-template-columns: auto;
    margin: 5%;
    gap: 2% 6%;
    /* width: 70em; */
    width: 2%;
    border-radius: 25px;
}
.projs > * {
    text-align: left;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    margin-inline: 10%; 
    padding-inline: 5%;
}

.projs > * > *{
    padding: 3%;
    margin-inline: 3%;
}

.projs > * > p{
    padding-left: 0;
    margin-inline: 3%;
}


.projs > * > * > p {
    padding-top: 3%;
}

.images {
    width: 1100px;
    margin: 0;
    padding:0;
    padding-left: 2%;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

@media (max-width: 912px) {
    .projs > * {
        margin-inline: 20%; 
    }
}

@media (max-width: 767px) {
    .projs > * {
        margin-inline: 30%; 
    }
}

@media (max-width: 430px) {
    .projs > * {
        margin-inline: 35%; 
    }
}
