.box {
    display: flex;
    flex-direction: column;
}

.border {
    position: relative;
    perspective: 1000px;
    margin: 20% auto;
}

.projs {
    display: flex;
    justify-content: center;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    position: absolute;
    width: 40%;
    /* margin: 20% auto; */
}

.projs > * {
    position: absolute;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    margin: 2%; 
    width: 90%;
    border-radius: 25px;
    padding-inline: 2%;
    padding-top: 2%;
}

.images {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}

.images > img {
    border-radius: 25px;
    width:100%;
    height: 275px;
    object-fit:cover;
    object-position:50% 50%;
}

.descrip {
    height: 500px;
    padding: 10%;
    padding-top: 5%;
    padding-inline: 0;
}

.descrip > * {
    transition: 1s opacity;
}

.slidein {
    animation: slidein 0.7s forwards;
}

@keyframes slidein {
    from {
        transform: translateX(-100%);
    } to {
        opacity: 1;
        transform: translateX(0%);
    }
}


.carousel_cell:nth-child(1) { 
    transform: rotateY(0deg) translateZ(288px); 
}
.carousel_cell:nth-child(2) { 
    transform: rotateY(120deg) translateZ(288px); 
}
.carousel_cell:nth-child(3) { 
    transform: rotateY(240deg) translateZ(288px); 
}

