:root {
    --bg-color: #262626;
    --links_p: white;
    --comp-bg: #525252;
    --prime: #CC2936;
    --accent: #FFDF00;
}

.light {
    --bg-color: white;
    --links_p: black;
    --comp-bg: #d1d1d1;
    --prime: #29CCBF;
    --accent: #003a34;
}

.dark {
    --bg-color: #262626;
    --links_p: white;
    --comp-bg: #525252;
    --prime: #CC2936;
    --accent: #FFDF00;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: aliceblue;  
    scroll-behavior: smooth;
}

h1 {
    font-size: xx-large;
    margin: 2%;
}

p {
    font-weight:300;
    font-size: larger;
}

body {
    color: white;
    overflow: hidden;
    overflow-y: scroll;    
    font-family: 'Poppins', 'sans-serif';
    display: flex;
    flex-direction: column;
    text-decoration: none; 
    justify-content: center;
    align-items: center;
}

.decor {
    display: flex;
    flex-direction: row;
}

.background, .background > *, .background > * > *, .background > * > * > * {
    background-color: var(--comp-bg);
}

button {
    background-color: transparent;
    border: none;
    font-family: 'Poppins', 'sans-serif';
    margin: 2%;
    padding: 5%;
}

hr {
    border: solid 1px var(--prime);
    width: 300px;
}

.pages {
    margin-right: 1em;
}

.pages:hover {
    color: var(--accent);
}

p , h1, h2 , h3, .pages, li {
    color: var(--links_p);
}

#name {
    color:var(--prime);
    font-size: x-large;
    font-family: "Silkscreen", sans serif;
}

.typer {
    font-size: xxx-large;
}

.banner_col {
    border-radius: 25px;
    padding-bottom: 10%;
    padding-top:5%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

@media (max-width:912px) {
    hr {
        width: 100px;
    }
}

@media (max-width:540px) {
    hr {
        width: 80px;
    }
}

@media (max-width:912px) {
    .banner_col {
        width: 60%;
    }
}

@media (max-width:540px) {
    .banner_col {
        width: 40%;
        padding-bottom: 15%;
    }
}

@media (max-width: 539px) {
    .banner_col {
        width: 30%;
    }
}


@media (max-width: 767px) {
    h3 {
        font-size: medium ;
    }
    .typer {
        font-size: x-large;
    }
    h1 {
        font-size: x-large;
    }
    p {
        font-size: medium;
    }
    #name {
        display: none;
    }
}




